body {font-family: Arial;
      background-image: url('bake.jpg');
      background-position:center center;
      background-attachment: fixed;}


  table {    font-family: "cursive", Sans-Serif;
            font-size: 12px;
            margin: 45px;
            width: 800px;
            text-align: center;
            border-collapse: collapse; }
td {    padding: 8px;
        background: #e8edff;
        border-bottom: 1px solid black;
        color: #669;
        border-top: 1px solid black; }

tr:hover td { background: #d0dafd; color: #339; }
