body {
    font-family: Arial;
    background-image: url('bake.jpg');
    background-position: center center;
    background-attachment: fixed;
}
.table1 {
    font-family: "cursive", Sans-Serif;
    font-size: 12px;
    margin: 30px auto;
    width: 800px;
    text-align: center;
    border-collapse: collapse;
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid black;
    color: #669;
}
.back td:hover {
    background: #d0dafd;
    color: #339;
}

.list1{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

.list2{
    float: left;
}


.list3{
    display:block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
